
<form method="POST" action="/checkout">
<lable>Enter Items to Purchase:</lable>
<input type="text" id="item" name="item">
<<<<<<< HEAD
<br>
<input type="submit" id="submit" value="Add"> 
=======
<input type="submit" value="Submit"> 
>>>>>>> 58d95151769db99acda13790d15c3a501d0a5323
</form>